<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SharedWebClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    </sectionGroup>
  </configSections>




  <applicationSettings>
    <SharedWebClassLibrary.Properties.Settings>
      <setting name="SharedWebClassLibrary_SmsService_SmsService" serializeAs="String">
        <value>http://211.155.31.104/service.asmx</value>
      </setting>
      <setting name="SharedWebClassLibrary_IpAddressSearchWebService_IpAddressSearchWebService"
        serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx</value>
      </setting>
      <setting name="SharedWebClassLibrary_MobileCodeWS_MobileCodeWS"
        serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/MobileCodeWS.asmx</value>
      </setting>
      <setting name="SharedWebClassLibrary_WeatherWS_WeatherWS" serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/WeatherWS.asmx</value>
      </setting>
      <setting name="SharedWebClassLibrary_shfclawyer_Service" serializeAs="String">
        <value>http://www.hujun64.com/service.asmx</value>
      </setting>
      <setting name="SharedWebClassLibrary_shfclawyer_ShfclawyerService"
        serializeAs="String">
        <value>http://www.shfclawyer.com/service.asmx</value>
      </setting>
    </SharedWebClassLibrary.Properties.Settings>
  </applicationSettings>
</configuration>